# virtual environment directory
env

# node modules
node_modules

# local db
db.sqlite3
*.sql

## python compiled
*.py[cod]

### Git ###
.git

# aws
accessKeys.csv

# files
words.txt
celerybeat-schedule
