@import url("./daterangepicker.css");


$bar-height: 40px;
$modal-background: #e5eefc;
$hover-color: #F68828;
$electric-blue-dark: #2B82CA;


$base-color: #628AD7;
$secondary-color: #53D1C8;
$accent-color: #FFDD43;

$light-grey: #e1e1e1;
$dark-grey: #a2a2a2;
$base-white: #fafafa;

body {
   width:auto;
   height:auto;
   overflow: hidden;
   background-color: $base-white;
   color: $base-color;
   font-family: 'Raleway', sans-serif;
}

.vertical-center{
  align-self: center;
}

.app-container{
  height:50px;
}

#content-body{
  height: 92.5vh;
}

#lookback-content{
  height: 100%;
}

.page-url-bar {
  min-width: 500px;
  height: 75px;
  line-height: 35px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
  background-color: $base-color;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bar-text-col{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  color: $base-white;
  font-size: 12px;
  line-height: 15px;
  width: 50%;
}

.bar-text-col p{
  margin: 0;
}

.url-bar-form {
  border: none;
  width: 100px;
  margin: auto;
  height: 30px;
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
  color: $base-white;
  background-color: $electric-blue-dark;
  &:focus{
    box-shadow: none;
    &::-webkit-input-placeholder {
      color: $accent-color;
    }
  }
  &::-webkit-input-placeholder {
    color: $base-white;
  }
}

.blacklist-bar {
  height: 40px;
  line-height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
  background-color: $secondary-color;
  color: $base-white;
  padding: 0px 6px;
  display: flex;
  justify-content: space-between;
}

.blacklist-button {
  line-height: $bar-height;
  height: $bar-height;
}

.blacklist-bar-info {
  display: flex;
  height: $bar-height;
  width: 150px;
  justify-content: space-between;
}

.url-bar-add-category {
  background-color: $electric-blue-dark;
  color: $base-white;
  border-radius: 2px;
  padding: 0 10px;
  height: 30px;
  margin: 0;
  line-height: 30px;
}

.url-bar-category {
  color: $base-white;
  float: left;
  border-radius: 2px;
  padding: 0 10px;
  height: 30px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.url-bar-category-thin {
  color: $base-white;
  border-radius: 2px;
  padding: 0 5px;
  height: 25px;
  margin: 3px 7px 2px 0px;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.bar-category{
  max-width: 150px;
}

.url-bar-category-button {
  display: inline;
  position: relative;
  padding-left: 10px;
}
.url-bar-category-button:hover{
  color: $accent-color;
}

.url-bar-input{
  display: inline-flex;
}

.url{
  color: $accent-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  font-size: 15px;
  &:hover {
    color: $base-white;
  }
}

.url-categories{
  display: flex;
  float:right;
  overflow: auto;
  margin-right: 1%;
  width: 45%;
}

.url-categories-col {
  display: flex;
  float:right;
  flex-flow: column;
  height: 100%;
  width: 45%;
}

.url-bar-categories {
  display: inline-flex;
  overflow: auto;
  flex-direction: row;
}

.lookback-container{
  width: 98%;
  margin: 5px 1%;
  height: calc(100% - 260px);
  overflow: scroll;
  background-color: white;
  border:solid 1px $base-color;
  position:absolute;
  min-width: 800px;
}

.domain-info {
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
}

.lookback-graph-container{
  min-width: 800px;
  flex-grow: 1;
  position: relative;
  height: inherit;
  width: inherit;
  margin-right: 4px;
}

.lookback-details-container{
  text-align: center;
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: $secondary-color;
  min-width: 400px;
  color: $base-white;
}

/*BUTTONS*/
#back-button{
  border: 0;
  background: $base-color;
  border-radius: 4px;
  color: $base-white;
  font-size: 15;
  transition-duration: 0.4s;
  margin-right: 5px;
  margin-left: 5px;
  height: 27px;
  &:hover {
      background: red;
      color: red;
  }
}

.side-bar-container{
  margin-top: 2px;
  min-width: 220px;
  width: 220px;
  height: 100%;
  background-color: $base-white;
  border-right: solid 1px $base-color;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
}

.side-bar-color-picker {
  display: inline-block;
}

.side-bar-header {
  height: auto;
}

.side-bar-input {
  border: none;
}

.all-categories {
  overflow-y: auto;
}

.hide-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-component-wrapper{
  width:100%;
  display: flex;
}

.tab-lt-buffer{
  position: relative;
  height:5px;
}

.tab-rt-buffer{
  position: relative;
  height:5px;
}

.domain-bar{
  height: 22px;
  border: solid 1px $base-color;
  color: white;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  border-radius: 2px;
  padding: 0 2px;
  position: relative;
  z-index: 10;
  /* account for the domains smaller than the favicon size */
  flex-basis:24px;
  &:hover {
    border-color: $secondary-color;
  }
}

.domain-favicon {
  width: 15px;
  height: 15px;
  margin:2px 5px 2px 2px;
}

.display-favicon {
  width:25px;
  height:25px;
  margin-right: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.previousPath {
  border-color: $accent-color;
}

start-time-label .end-time-label{
  font-size: 15;
  color: $base-color;
  width: auto;
}

.site-title{
  font-size: 35px;
  margin-right: 15px;
  color: $base-white;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

.search-results-container {
  width: 100%;
  height: 97%;
  margin: 5px auto;
  overflow: auto;
}

.categories-page {
  height: 92.5vh;
  display: flex;
  flex-direction: row;
}
#graph-plus-buttons{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: space-between;
}

.time-change-button {
  width:35px;
  color: $secondary-color;
}

#time-change-btn-buffer-lft{
  width: 3px;
  min-height: 60px;
  height: calc(50% - 75px);
  position: relative;
}

#time-change-btn-buffer-rt{
  width: 3px;
  min-height: 60px;
  height: calc(50% - 83px);
  position: relative;
}

#time-change-btn-wrapper{
  position: relative;
  left:4px;
}
.arrow-btn:hover{
  color: $hover-color;
  cursor:pointer;
}

.timeline-label-row{
  width: 100%;
}

#slider-label{
  margin-top: 16px;
  color: black;
}

#slider-wrapper{
  width:30%;
  margin-right: 30px;
  margin-left: 20px;
}

.ant-slider-mark-text-active{
  color:black;
}

.jump-btn{
  background-color: #4897D8;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  color: #FAFAFA;
  padding: 5px 6px;
  border-radius: 5px;
}
.jump-btn:hover{
  background-color: $electric-blue-dark;
  cursor:pointer;
}

#lookback-slider{
  background-color: #FAFAFA;
}

.ant-slider{
  border-top-color: #FAFAFA;
  border-bottom-color: #FAFAFA;
}

#timeline-label-row-top{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline-label-row-btm{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time-labels{
  margin: 10px 15px 0px 15px;
  height: 80px;
  min-width: 800px;
}
#time-break-min-box-left{
  position:relative;
  float:left;
  width:calc(33% - 190px);
  min-width:1px;
}

#time-break-min-box-right{
  position:relative;
  float:left;
  width:26%;
  min-width:1px;
}

#time-break-line-label1, #time-break-line-label2{
  position: relative;
  font-size: larger;
}


#end-date-label{
  margin-left: auto;
  font-size: larger;
}

#time-break-container{
  height:150%;
  width:100%;
  z-index:1;
  position:absolute;
  display: flex;
  overflow-y: hidden;
}

#tabs-container{
  height:100%;
  width:100%;
  z-index:10;
  position:relative;
}

.time-break-line{
  height:100%;
  border-right: 1px solid $accent-color;
  position:relative;
  z-index: 1;
}

#first-time-break{
  width: 33%;
  float:left;
}

#second-time-break{
  width: 33%;
  float: left;
}

.nav-bar-button {
  border: none;
  background-color: $base-color;
  color: $accent-color;
  margin: 10px;
  margin-top: 15px;
  font-size: medium;
  padding: 0px;
  outline: none;
  &:hover {
    color: $base-white;
  }
}

.nav-bar-button-selected {
  color: $base-white;
  border-bottom: solid $base-white 1px;
  padding: 0px;
}

.control-buttons{
  display: block;
  color: $secondary-color;
  font-weight: bold;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: $base-color;
}

.nav-menu-bar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  min-width: 477px;
}

.search-bar {
  margin: 7px 10px;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  height: 35px;
  padding: 10px;
  outline: none;
}

.blacklist-entry{
  width: 95%;
  margin: 0 auto;
}

.blacklist-text-entry {
  border-radius: 4px;
  border: none;
  height: 40px;
  outline: none;
  &:focus {
    outline:none;
  }
}

.section-title {
  font-size: 20px;
  margin: 10px;
  color: $secondary-color;
}

.selected-domain-bar {
  margin: 0 auto;
  margin-top: 3%;
  width: 95%;
  border: $base-color 3px solid;
  height: 100px;
  border-radius: 5px;
  display:flex;
  flex-flow: row nowrap;
  z-index: inherit;
}

.page-bar{
  border-left: solid $base-white 2px;;
  height:100%;
  display:inline-block;
  margin: 0;
  background-color: $base-color;
}

.close-detail-view-btn{
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-size: medium;
  &:hover{
    color: $accent-color;
  }
}

.domain-modal-header{
  height: 3%;
}

.category-entry-wrapper{
  width: 50%;
}

.welcome-message {
  text-align: center;
  margin: auto;
  top: 40%;
  position: relative;
}

.hidden {
  display:none;
}

.right-sidebar-button {
  color: $base-color;
  float: right;
  margin-right: 10px;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.left-sidebar-button {
  color: $base-color;
  float: left;
  width: 15px;
  height: 25px;
  line-height: 25px;
}

.edit-category-input {
  border: solid 2px whitesmoke;
  line-height: 30px;
  max-width: 120px;
  display: inline-flex;
}

.category-info {
  display: flex;
  width: 170px;
}

.category-title {
  width: 130px;
  line-height: 30px;
  padding-left: 7px;
  color: $base-color;
  text-align: left;
}

.color-square-small {
  display: inline-table;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  margin: 6px 7px;
}

.side-bar-single-button {
  color: $electric-blue-dark;
  display: inline-flex;
  border-radius: 3px;
  width: 18px;
  line-height: 18px;
  padding-left: 3px;
  margin: 6px 7px;
  &.selected {
    color: $accent-color;
  }

}

.side-bar-category{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &.checked {
    background-color: whitesmoke;
  }
}

.date-picker {
  width:165px;
  position: relative;
}

.edit-category-entry {
  textarea {
    width: 150px;
    border: none;
    background-color: $light-grey;
    text-align: center;
  }
}

#loading_spinner_page {
  display: table;
  margin: 75px auto;
}

.display-view {
  width:50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.page-details{
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.page-details-wrapper{
  display: flex;
  flex-direction: row;
}

.screenshot{
  height: 200px;
  width: 300px;
  margin: 0 auto;
}
.screenshot-wrapper{
  width: 45%;
}
.watermelon {
  background-color: $accent-color;
  color: $base-white;
  &:hover {
    background-color: $accent-color;
    color: $base-white;
  }
  &:focus{
    color: $base-white;
  }
}

.watermelon-border {
  border: solid 2px $accent-color;
}

.electric-blue {
  background-color: $base-color;
  color: white;
}

.electric-blue-text{
  color: $base-color;
}

.electric-blue-border {
  border: solid 2px $base-color;
}

.star-checkbox{
  border-bottom: solid thin $secondary-color;
  border-top: solid thin $secondary-color;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
}

hr{
  margin: 0 auto;
  border-color: $accent-color;
  border-width: 2px;
  width: 100%;
}

.add-category-btn{
  padding-top: 8px;
  padding-bottom: 7px;
  border: 0px;
  font-size: large;
  background: none;
  &:hover{
    color: $secondary-color;
  }
}

.category-bar{
  width: 80px;
  margin: 5px;
  height: 35px;
  color: $base-white;
  line-height: 32px;
  text-align: center;
  padding: 0 6px;
  &:hover{
    font-weight: bold;
    border: solid 2px $base-color;
  }
}

.side-bar-buttons {
  width: 45px;
  justify-content: space-between;
}

.star-div{
  height:45px;
  line-height: 55px;
  width: 45px;
  color: $accent-color;
  margin-left: 1%;
  &:hover{
    color: $accent-color;
  }
}

.url-bar-star-div{
  height:30px;
  line-height: 30px;
  width: 30px;
  color: $accent-color;
  margin: 2px 0 0 5px;
  &:hover{
    color: $accent-color;
  }
}

.star{
  line-height: 45px;
  &:hover{
    color: $accent-color;
  }
}

.category-entry{
  margin: 0 auto;
  width: 97%;
  margin-bottom: 5px;
  background-color: $electric-blue-dark;
}

.page-title{
  margin: 0;
  font-size: large;
  text-align: center;
}

/* Search Component */
#search-container {
  margin: 15px auto;
  margin-bottom: 0px;
  height: 100%;
  width: 99%;
  display: flex;
  flex-direction: column;
}

#search-page-results-container {
  height: 72vh;
  overflow-y: scroll;
}

#search-selection-container {
  text-align: center;
  margin: 1px auto;
}

.search-select-dropdown {
  margin: 1px 19px;
  border-color: $base-color
}

.Select-control {
  border-color: inherit;
}

#date-select-text{
  border-width: 1px;
  border-radius: 5px;
  /*border: gray;*/
  border-style: solid;
  padding: 7px 0px;
  margin: 1px 19px;
  color: black;
  border-color: $base-color
}

#search-selection-row {
  display: table;
}

.search-selection-col {
  vertical-align: middle;
  display: inline-block;;
  float: none;
}

/* Search Column Selection */
/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
/* ----- */

.advanced-search{
  min-width: 350px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: large;
}

.advanced-search-bar {
  width: 90%;
  margin: 7px auto;
  border-radius: 0px;
  border: $base-color;
  height: 35px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  color: $electric-blue-dark;
  font-size: medium;
  background-color: $base-white;
  &::-webkit-input-placeholder {
    color: $electric-blue-dark;
    font-size: medium;
  }
}

#search-loading {
  margin: 25px;
  text-align: center;
}
side
.login-error {
  color: $accent-color;
  text-align: center;
  font-weight: bold;
}

/*MODAL*/
.hider{
  position:absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:100%;
  z-index: 99;
  background-color:Black;
  opacity:0.6; //for transparency
}

.modal-base{
  position: absolute;
  background-color: $modal-background;
  z-index: 110;
  top: 5%;
  left: 7%;
  width:86%;
  height:90%;
}

.iframe-close-button{
  float: right;
  margin: 0 3%;
  color: $base-color;
  &:hover {
    color: $accent-color;
  }
}

.iframe-open-button{
  background: none;
  color: black;
  margin: 5px;
  font-size: x-large;
  border: none;
  outline: none;
  &:hover{
    color: $accent-color;
  }
}

#iframe-open-button:hover{
  background-color: $secondary-color;
}

.i-modal-header {
  width: 100%;
  height: 9%;
}

.m-iframe{
  border-style: none;
  background-color: $base-white;
  position:relative;
  height: 86%;
  width: 90%;
  margin: 0 5% 0% 5%;
}

.url-buttons{
  width: 7%;
  display: flex;
  margin-left: 1%;
  justify-content: space-between;
}

.iframe-msg-box{
  position:relative;
  height: 90%;
  width: 90%;
  margin: 0 5% 3% 5%;
}

.iframe-error{
  text-align: center;
  width:100%;
  margin-top:30%;
  font-size:large;
  color:black;
}

#page-selector-container{
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  width: 100%;
  font-size: 16px;
}

.page-selector-element{
  display:inline-block;
  padding: 0px 5px;
  margin-left: 0px;
  text-align:center;
  border-color:$base-color;
  border-radius:6px;
  background-color:inherit;
}

#previous-chevron{
  margin-right: 3px;
}
#next-chevron{
  margin-left: 3px;
}

.page-number-selector:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page-number-selected {
  color:black;
  &:hover {
    text-decoration: none !important;
    cursor: default !important;
  }
}

#results-displayed-message {
  margin: 1px 0px 5px 32px;
  color: grey;
}

#no-search-results-message {
  margin: 10px 0px 10px 32px;
  color: grey;
  text-align: center;
}

.go-to-site-btn{
  text-decoration: none;
  margin-left: 5%;
  &:hover {
    color: $secondary-color;
  }
}

#iframe-title{
  text-align: left;
  margin-left: 5%;
  margin-top: -1%;
  text-overflow: ellipsis;
  font-size: medium;
  color:black;
}

#iframe-msg{
  text-align: center;
  margin-top: -10px;
  color: black;
}

/* Manage Page */

#account-info {
  font-size: 15px;
  margin: 5px 30px;
}

#change-password-response {
  margin: 5px 15px;
}

#account-options {
  margin:1px 30px;
}

#change-password-fields {
  margin: 5px 15px;
}

#change-password-inputs {
  max-width: 400px;
}

.account-button {
  margin: 1px 1px;
  background-color: $base-color;
  &:hover {
  background-color: $electric-blue-dark;
  }
  &:focus {
    background-color: $base-color;
  }
}

#domain-modal{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin: 0;
  left: inherit;
  top: inherit;
  text-align: center;
  font-size: small;
  background-color:rgba(229, 238, 252, .9);
}

.url-categories-display{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  overflow:auto;
  margin: 0 auto;
  margin-bottom: 5px;
}

.category-select{
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.domain-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.horizontal-center{
  margin: 0 auto;
}


#tracking-toggle-wrapper {
  float: right;
  line-height: 55px;
}

#tracking-explanation {
  color: $base-white;
  margin-right: 3px;
}

#tracking-toggle-label {
  color: $base-white;
  vertical-align: middle;
  font-size: 1.33333333em;
}

.popup-tracking-toggle {
  vertical-align: middle;
}

.title-wrapper{
  width:100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-overflow: ellipsis;
}
