

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
   background-color: #4897D8;
}

.jumbotron h1 {
  color: #FFDB5C;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

.jumbotron img {
  height: 150px;
  border: black;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}

.jumbotron p {
  text-align: center;
  font-family: 'Raleway';
  color: #F8A055;
}

.wrapper {
  text-align: center;
}

.btn,
.btn:focus {
  background: #FA6E59;
  font-family: 'Raleway';
}

.btn:hover,
.btn:active {
  background: #F95339;
}

h2, p {
  font-family: 'Raleway';
}
