$banana: #FFDB5C;
$electric-blue: #4897D8;
$electric-blue-dark: #2B82CA;
$lime: #77f200;
$watermelon: #FA6E59;
$canteloupe: #F8A055;
$#fafafa: #FAFAFA;
$watermelon-dark: #F95339;
$canteloupe-dark: #F68828;

@base-color: #628AD7;
$secondary-color: #53D1C8;
$accent-color: #FFDD43;

$light-grey: #e1e1e1;
$dark-grey: #a2a2a2;
$#fafafa: #fafafa;
$custom-black: #55524d;



div{
  width:auto;
  height:auto;
  overflow: hidden;
  background-color: #fafafa;
  color: #628AD7;
  font-family: 'Raleway', sans-serif;
}

.html {
  height: auto;
}

.popup-content {
   width:400px;
   max-height: 300px;
   background-color: $#fafafa;
   color: $electric-blue;
   font-family: 'Raleway';
   font-weight: normal;
   vertical-align: middle;
}

.popup-header {
  margin-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $#fafafa;
  width: 35%;
  float: left;
  &:hover{
    cursor: pointer;
    color: $banana;
    font-weight: bold;
  }
}

.forgot-password-text{
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

.popup-main-form h2 {
  text-align: center;
  margin-top: 0;
}

.popup-body p{
  margin: 2px 10px;
  text-align: center;
}

.popup-page-title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  color: $#fafafa;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
}

.popup-page-title p{
  margin: 0;
  font-size: x-large;
}

.popup-form-group {
  margin: 3%;
  margin-bottom: 7%;
}

.login-form {
  border: none;
  border-radius: 0px;
  border-bottom: #53D1C8 1.5px solid;
  background: transparent;
  box-shadow: none;
  width: 90%;
  margin: auto;
  height: 40px;
  margin-bottom: 3%;
  color: #53D1C8;
  font-family: Raleway, FontAwesome;
  &:focus{
    box-shadow: none;
    border-bottom: #fafafa 1.5px solid;
    &::-webkit-input-placeholder {
      color: #fafafa;
    }
  }
  &::-webkit-input-placeholder {
    color: $#fafafa;
  }
}

.login-error {
  color: $accent-color;
  text-align: center;
  font-weight: bold;
}

.popup-form{
  border: none;
  border-radius: 0px;
  background: transparent;
  box-shadow: none;
  width: 90%;
  margin: auto;
  height: 40px;
  margin-bottom: 3%;
  color: $#fafafa;
  background-color: $electric-blue-dark;
  font-family: Raleway, FontAwesome;
  &:focus{
    box-shadow: none;
    &::-webkit-input-placeholder {
      color: $electric-blue;
    }
  }
  &::-webkit-input-placeholder {
    color: $#fafafa;
  }
}

.errorInput ::-webkit-input-placeholder {
   color: red;
}

.error-message{
  text-align: center;
}

.popup-main-form{
  padding: 5px;
  color: $#fafafa;
  background-color: #628AD7;
}

/*.popup-main-btn{
  width: 85%;
  display: block;
  margin: 3% auto;
  &:select{
    outline: none;
  }
}*/

.popup-main-btn {
  width: 85%;
  display: block;
  border: none;
  background-color: #e1e1e1;
  color: #628AD7;
  margin: 10px;
  margin-top: 15px;
  font-size: medium;
  padding: 0px;
  outline: none;
  &:hover {
    color: #628AD7;
  }
}

.link-text-btn {
  display:block;
  margin: auto;
  color: $#fafafa;
  background:none;
  border:none;
  margin-bottom: 5%;
  &:hover{
    color: $banana;
  }
}

.logo{
  height: 35px;
  margin-top: 4px;
}

.header-height{
  height: 30px;
}

/*.electric-blue{
  background: $electric-blue
}*/

.zero-margin{
  margin: 0;
}

.popup-header-text{
  font-size: 30px;
  margin-left: 2%;
  color: $banana;
  font-family: 'Poiret One', cursive;
  height: 35px;
}

.popup-header-wrapper{
  width: inherit;
  height: 55px;
  display: flex;
  padding: 0 7px;
  align-items: center;
  background-color: $electric-blue-dark;
  justify-content: space-between;
}

.popup-menu {
  display: flex;
  align-items: center;
  background-color: $watermelon-dark;
  justify-content: space-around;
  padding: 5px 15px;
}

.popup-menu-item {
  color: $#fafafa;
  font-size: medium;
  &.selected {
    color: $banana;
    font-weight: bold;
  }
  &:hover{
    cursor: pointer;
    color: $banana;
  }
}

.create-category-bar {
  display: flex;
}

.paginate-cats {
  display: inline-flex;
  flex-direction: row;
}

.change-page-btn {
  margin: auto;
}

.categories-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 335px;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popup-form-entry {
  margin: 0 auto;
  width: 89%;
  margin-bottom: 5px;
  background-color: $electric-blue-dark;
}

.color-square {
  display: inline-flex;
  width: 25px;
  height: 25px;
  margin: 7px;
}

.current-session {
  background-color: $electric-blue-dark;
  margin: 10px 0;
  border-radius: 3px;
  padding-bottom: 5px;
}

.current-session-info {
  margin: 10px;
  padding-top: 3px;
}

.site-logo{
    height: 30px;
    margin-top: 15%;
}

.duration-btn {
  width: auto;
  padding: 3px 5px;
  background-color: $electric-blue-dark;
  margin: 5px;
  display: inline-flex;
  &:hover{
    cursor: pointer;
    color: $banana;
    font-weight: bold;
  }
  &.active{
    color: $watermelon;
  }
}

.session-btn {
  width: auto;
  padding: 0 15px;
  background-color: $watermelon;
  margin: 5px auto;
  display: flex;
  &:hover{
    cursor: pointer;
    color: $banana;
    font-weight: bold;
  }
}

.new-session-info {
  margin-top: 5px;
}

#loading_page {
  position: absolute;
  top: 40%;
  left:5%;
}

#popup-error{
  padding: 2%;
  text-align: center;
  font-size: 15px;
}

#fa-error{
  font-size: xx-large;
  margin: 3%;
  color: $watermelon;
}

#logo-text-wrap{
  display: flex;
  flex-direction: column;
}

#go-to-timeline{
  margin-left: 3px;
  margin-top: 0px;
  padding-bottom: 5px;
}

#go-to-link{
  color: $banana;
  &:hover{
    color: $watermelon;
    cursor: pointer;
  }
}


/* SIDEBAR CSS */
.sidebar{
  z-index: 200;
  position: fixed;
}

.sidebar-box{
  width: 300px;
  margin: 5px 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);

}

.sidebar-box-header{
  background-color: #628AD7;
  color: $#fafafa;
  width:inherit;
  height: 50px;
  line-height: 45px;
  padding-left: 10px;
  font-size: large;
  position: relative;
  display: flex;
}

.sidebar-box-content{
  background-color: $#fafafa;
  color: $custom-black;
  width:inherit;
  height:250px;
}

/* outermost box */
.sidebar{
  position: fixed;
  z-index: 1100000091;
  right: 0px;
  top: 0px;
  /*display: none;*/
}

.login-sidebar{
  width:400px;
  max-height: 300px;
  position: fixed;
  z-index: 2000;
}

/* tag selection box */
#tag-selection-wrapper{
  background-color: #fafafa;
  height: inherit;
}
